// app global css in SCSS form
\:root {
  --q-cta: #{$cta};
}
// CTA
.text-cta {
  color: var(--q-cta) !important;
}
.bg-cta {
  background: var(--q-cta) !important;
}

// BODY - IGHT / DARK
.body--light {
  background: #fff;
}
.body--dark {
  background: #000;
}
